/* google font */
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&display=swap');

/* GLOBAL KEYS */
* {
    padding: 0;
    margin: 0;
    text-decoration: none;
}

/* adding and positioning the background image */
body {
    background-image: url(../images/background.jpg);
    background-color: rgb(255, 255, 255);
    background-repeat: no-repeat;
    background-size: 300px 290px;
    background-position: left bottom;
    background-attachment: fixed;
}

/* stylizing the h1 */
h1 {
    text-align: center;
    font-family: "Cinzel", sans-serif;
    font-size: 60px;
    margin-top: 30px;
    color: rgb(45, 45, 45);
}

/* stylizing the main (white background) */
#main {
    background-color: white;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3em;
    margin-bottom: 5em;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

#app-header {
    background-color: rgb(16, 92, 127);
    padding: 30px;
}

#app-body {
    padding: 30px;
    text-align: center;
    background-color: rgb(202, 222, 231);
}

#total-balance {
    text-align: center;
}

#income-expense {
    display: flex;
    justify-content: space-between;
}

#app-income {
    margin-left: 10%;
    text-align: center;
}

#app-expense {
    margin-right: 10%;
    text-align: center;
}

#date-amount {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 20px;
}

#submit-div {
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}

#submit {
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 20px;
    background-color: rgb(16, 92, 127);
    color: white;
    font-weight: 700;
}

#submit:hover {
    cursor: pointer;
}

#submit:active {
    background-color: rgb(46, 171, 0);
}

.header-text {
    color: rgb(255, 255, 255);
    font-family: Impact, sans-serif;
    font-weight: 900;
    font-size: 20px;
}

.header-total {
    color: rgb(255, 255, 255);
    font-family: Impact, sans-serif;
    font-weight: 900;
    font-size: 60px;
}

.header-numbers {
    color: rgb(255, 255, 255);
    font-family: Impact, sans-serif;
    font-weight: 900;
    font-size: 40px;
}

.body-text {
    color: rgb(0, 0, 0);
    font-family: Impact, sans-serif;
    font-weight: 600;
    font-size: 26px;
}

#name {
    width: 400px;
    height: 40px;
    font-size: 19px;
    font-weight: 600;
    border-width: 3px;
    border: 5px solid rgb(16, 92, 127);
}

#name:focus {
    border-color: rgb(46, 171, 0);
}

#date {
    width: 200px;
    height: 40px;
    font-size: 23px;
    border-width: 3px;
    border: 5px solid rgb(16, 92, 127);
}

#date:focus {
    border-color: rgb(46, 171, 0);
}

#amount {
    width: 150px;
    height: 40px;
    font-size: 23px;
    font-weight: 600;
    border-width: 3px;
    border: 5px solid rgb(16, 92, 127);
}

#amount:focus {
    border-color: rgb(46, 171, 0);
}

/* hiding the up and down arrows in number input */
input[type="number"]::-webkit-inner-spin-button {
    display: none;
}

/* Stylizing the table */
#table {
    border-collapse: collapse;
    font-size: 0.9em;
    min-width: 100%;
    display: none;
}

#table thead tr {
    background-color: rgb(16, 92, 127);
    color: white;
    text-align: left;
    font-weight: bold;
    font-family: Impact, sans-serif;
    font-size: 30px;
}

#table tbody td {
    font-size: 20px;
    font-family: Impact, sans-serif;
}

#table th,
#table td {
    padding: 12px 15px;
}

#table tbody tr {
    border-bottom: 1px solid #b2b2b2;
}

/* make the table background change every even number of rows */
#table tbody tr:nth-of-type(even) {
    background-color: #efefef;
}

#table tbody tr:last-of-type {
    border-bottom: 2px solid rgb(16, 92, 127);
}

#no-values {
    text-align: center;
    font-weight: bold;
    padding: 10px;
    font-family: Impact, sans-serif;
    font-size: 2em;
    display: block;
}

#container {
    display: flex;
    justify-content: center;
    padding: 10px;
}

#container span {
    vertical-align: center;
    font-weight: bold;
    padding: 10px;
    font-family: Impact, sans-serif;
    font-size: 25px;
}

.check-btn {
    width: 100px;
    background-color: rgb(16, 92, 127);
    height: 50px;
    cursor: pointer;
    border-radius: 50px;
    position: relative;
    transition: 0.2;
}

.check-btn::before {
    background-color: rgb(255, 255, 255);
    position: absolute;
    content: '';
    width: 40px;
    height: 40px;
    border-radius: 100px;
    margin: 5px;
    transition: 0.2s;
}

input:checked+.check-btn::before {
    transform: translateX(-50px);
}

input[type="checkbox"] {
    display: none;
}

.delete-btn {
    background-color: rgb(190, 43, 43);
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 20px;
    color: white;
    font-weight: 700;
    cursor: pointer;
}

.delete-btn:hover {
    background-color: rgb(118, 67, 67);
}

.delete-btn:focus {
    background-color: rgb(190, 43, 43);
}

.delete-btn-mdq {
    display: none;
}

/*------------- media queries---------------- */

@media (max-width: 540px) {
    #main {
        max-width: 390px;
    }

    h1 {
        font-size: 40px;
        margin-bottom: -30px;
    }

    #name {
        width: 300px;
        height: 40px;
        font-size: 14px;
    }

    #date {
        width: 150px;
        height: 40px;
        font-size: 15px;
    }

    #amount {
        width: 100px;
        height: 40px;
        font-size: 23px;
    }

    .check-btn {
        width: 100px;
        height: 50px;
    }

    body {
        background-size: 200px 190px;
        background-repeat: no-repeat;
        background-position: top center;
        background-attachment: fixed;
    }

    #app-header {
        padding: 20px;
    }

    #app-body {
        padding: 10px;
    }

    .header-text {
        font-weight: 900;
        font-size: 20px;
    }

    .header-total {
        font-weight: 900;
        font-size: 60px;
    }

    .header-numbers {
        font-weight: 900;
        font-size: 30px;
    }

    .body-text {
        font-weight: 600;
        font-size: 16px;
    }

    .check-btn::before {
        width: 32px;
        height: 32px;
        border-radius: 100px;
        margin: 9px;
    }

    .header-total {
        font-weight: 900;
        font-size: 50px;
    }

    #table {
        max-width: 400px;
    }

    #table thead tr {
        font-size: 20px;
    }

    #table tbody td {
        font-size: 15px;
        max-width: 10px;
        font-weight: bold;
    }

    #table th,
    #table td {
        padding: 10px 13px;
    }

    .delete-btn {
        display: none;
    }

    .delete-btn-mdq {
        display: block;
        background-color: rgb(190, 43, 43);
        padding: 5px 8px;
        font-size: 10px;
        color: white;
        font-weight: 700;
        cursor: pointer;
        margin-left: -5px;
    }

    .delete-btn-mdq:focus {
        background-color: rgb(190, 43, 43);
    }

}

@media (max-width: 320px) {}